region                = "ap-southeast-1"
cluster_name          = "k8s"
instance_type         = "t3a.medium"
node_count            = 3
key_name              = "your-ssh-key"
ssh_private_key_path  = "~/.ssh/id_ed25519"
